	<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

<style>
	body{
		background-size: 100% ;
		background-repeat: no-repeat;
		background-image: url('https://www.valuespreadsheet.com/images/when-to-buy-sell-stocks.jpg');
		/*height: 50%;*/
	}
</style>
</head>
<body>


	<header>
		<div class="container">
		<div id="brandname">
		</div>
		<h2> Financial Sentiment Analyser</h2>
		
	</div>
	</header>

	<div class="ml-container">

		<form action="{{ url_for('predict')}}" method="POST">
		<p>Please enter the text below</p>
		<p> (We request you to wait till result page appears) </p>
		<!-- <input type="text" name="comment"/> -->
		<textarea name="message" rows="6" cols="50"></textarea>
		<br/>

		<input type="submit" class="btn-info" value="predict">
		
	</form>
		
	</div>

	
	

</body>
</html>
